matlab_packages/.DS_Store
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/.DS_Store
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/manual.pdf
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/readme.txt
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/ReleaseHistory.pdf
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/.DS_Store
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/aiffread.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/center.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/combinepeaks.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/Contents.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/convolve2.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/displot.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/gomezprofs.mat
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/haspeaks.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/hwr.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/isamir.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/MakeERBFilters.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirattacks.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirattackslope.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirattacktime.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirauditory.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirbeatspectrum.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirbrightness.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mircentroid.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirchunklim.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mircluster.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mircompute.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirdist.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirentropy.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirerror.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mireval.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirevalparallel.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mireventdensity.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirexport.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirfeatures.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirfilterbank.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirflatness.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirfluctuation.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirflux.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirframe.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirframenow.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirfunction.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirgetdata.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirgetrange.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirhcdf.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirinharmonicity.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirkey.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirkurtosis.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirlength.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirlowenergy.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirmap.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirmean.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirmode.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirnovelty.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mironsets.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/miroptions.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirparallel.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirpeaks.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirpulseclarity.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirread.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirregularity.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirrms.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirrolloff.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirroughness.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirsegment.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirskewness.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirspread.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirstat.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirstd.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirsum.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirsummary.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirtempo.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirtype.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirverbose.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirwaitbar.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mirzerocross.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mp3read.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mp3write.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/mtimescell.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/netlabgmminit.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/netlabkmeans.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/nthoutput.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/num2col.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/peaksegments.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/pluscell.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/purgedata.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/surfplot.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/uncell.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miraudio/miraudio.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miraudio/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miraudio/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miraudio/plus.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miraudio/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirautocor/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirautocor/mirautocor.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirautocor/mtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirautocor/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mircepstrum/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mircepstrum/mircepstrum.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mircepstrum/mtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mircepstrum/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirchromagram/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirchromagram/mirchromagram.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirchromagram/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirclassify/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirclassify/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirclassify/mirclassify.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/combine.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/exportation.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/gettmp.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/intersect.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/isframed.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/log.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/mirdata.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/mirdisplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/mpower.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/mtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/plus.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdata/settmp.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/evaleach.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/getsampling.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/isframed.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/mirdesign.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/mtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/plus.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirdesign/setresampling.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miremotion/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miremotion/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miremotion/miremotion.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miremotion/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@miremotion/space.png
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/mirenvelope.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirenvelope/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirhisto/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirhisto/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirhisto/mirhisto.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirhisto/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeysom/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeysom/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeysom/keysomaudiodata.mat
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeysom/mirkeysom.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeysom/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeystrength/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeystrength/mirkeystrength.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirkeystrength/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmatrix/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmatrix/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmatrix/mirmatrix.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmfcc/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmfcc/mirmfcc.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmfcc/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmidi/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmidi/mirmidi.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmidi/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirmidi/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpattern/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpattern/mirpattern.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpattern/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpitch/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpitch/mirpitch.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpitch/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirpitch/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirquery/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirquery/mirplay.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirquery/mirquery.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/corrcoef.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/exportation.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/mirsave.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/mirscalar.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirscalar/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirsimatrix/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirsimatrix/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirsimatrix/mirsimatrix.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirsimatrix/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirspectrum/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirspectrum/mirspectrum.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirspectrum/mtimes.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirspectrum/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/mirstruct.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/subsasgn.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirstruct/subsref.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtemporal/display.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtemporal/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtemporal/mirtemporal.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtemporal/plus.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtemporal/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtonalcentroid/get.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtonalcentroid/mirtonalcentroid.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolbox/@mirtonalcentroid/set.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amaj3.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amaj4.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amaj5.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amin3.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amin4.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Amin5.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/Cmaj.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/czardas.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo0grandbuffet.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo1pitch.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo2timbre.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo3tempo.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo4segmentation.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo5export.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo6curves.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/demo7tonality.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/guitar.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/laksin.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/mirdemo.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/mirtest.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/movie1.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/movie2.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/pianoA4.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/pianoF4.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/ragtime.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/trumpet.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/tutorial.m
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/valse_triste_happy.wav
matlab_packages/MIRtoolbox1.3.4.1_matlabcentral/MIRToolboxDemos/vivaldi.wav
Papers/1-s2.0-S0079612318300177-main.pdf
Papers/3-s2.0-B9780123814319000206-main.pdf
Papers/Belfi and Loui - 2020 - Musical anhedonia and rewards of music listening .pdf
Papers/fnhum-14-00280.pdf
Papers/fpsyg-08-01664.pdf
Papers/Isochrony and rhythmic interaction in ape duetting.pdf
Papers/journal.pone.0249933.pdf
Papers/mp.2013.31.2.118.pdf
Papers/pnas.1809855116.pdf
osfstorage-archive/.DS_Store
osfstorage-archive/data_dictionary.csv
osfstorage-archive/demographics.csv
osfstorage-archive/music_database.csv
osfstorage-archive/prescreen_artist_exposure.csv
osfstorage-archive/prescreen_event_memory.csv
osfstorage-archive/sentence_level_autobio_interview_scores.csv
osfstorage-archive/trial_level_autobio_interview_scores.csv
osfstorage-archive/pilot_data/cleanPilotData.csv
osfstorage-archive/pilot_data/power_sim_params.csv
